@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Roboto);

/* CSS DOCUMENT */

.col {
  display: table-cell;
  vertical-align: top;
}

.container {
  width: 1040px;
  margin-left:auto;
  margin-right:auto;
}

.row {
  display: table;
  width: 100%;
}

html, body {
  height: 100%;
  font-family: 'Roboto';
}

h1 { color:#9f2720; font-size: 2em; text-align: center; margin-bottom: 15px;}

h2 { font-size: 1.5em; font-family: arial; color:#636466; margin-bottom: 15px; line-height: 1.3em;}

a { color:#9f2720; text-decoration: none; font-weight: bold;}

p {
  line-height: 1.5em;
}

b {
  font-weight: bold;
}

.active {font-weight: bold; color:#414042;}

#header{
	width:100%;
	height:90px;
	background-color:#dcddde;
	color: #FFF;
	position:fixed;
	top: 0;
	opacity:0.85;
	-webkit-box-shadow: 1px 0.8px 1px #a1a2a2;
}

#header .container {
	margin-top: 15px;
}

#header .row > div {
	vertical-align: middle;
}

#menu ul li {
	list-style:none;
	display:inline;
}

#menu ul li a {
  font-size: 1.5em;
  font-weight: normal;
	text-decoration:none;
	padding:0px 10px;
	margin:0px;
	color:#000;
}

#menu ul li a:hover {
	background-color:#626366;
	color:#FFF;
	border-radius: 30px 30px 30px 30px; -moz-border-radius: 30px 30px 30px 30px; -webkit-border-radius: 30px 30px 30px 30px;
}

#language{
	width: 80px;
	color: #6d6e71;
	padding: 5px;
	background: #b1b3b6;
	border-radius: 30px 30px 30px 30px; -moz-border-radius: 30px 30px 30px 30px; -webkit-border-radius: 30px 30px 30px 30px;
}

#language ul {
	text-align: center;
}

#language ul li {
	list-style:none;
	display:inline;
}

#language li + li::before {
  content: " | ";g
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

#language ul li a {
	text-decoration:none;
	color:#414042;
}

#language ul li a:hover{
	color:#808285;
}

#home {
	background: url("../images/background.jpg") no-repeat;
	background-position: top center;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height: 100%;
  min-height: 590px;
}

#homeintro {
	color:#FFF;
  padding-top: 270px;
}

#homeintro h1 {
	font-size: 3em;
}

#homeintro h1, #homeintro h2 {
  color: #FFF;
	text-align: right;
}

/*Divs Conteúdo */
#geral{
	background:#FFF;
}

#conteudo{
	margin-top: 90px;
	background-color: #FFF
}

#sobre{
	padding-top:135px;
	background-color: #fff
}

#foto img {
	width: 250px;
	height: 250px;
	border-radius: 0px 30px 0px 30px; -moz-border-radius: 0px 30px 0px 30px; -webkit-border-radius: 0px 30px 0px 30px;
}

#descricao {
	vertical-align: middle;
	background-color: #FFF;
	padding-left: 45px;
}

#descricao p {
	margin-bottom: 10px;
	text-align: justify;
	color:#414042;
	background-color: #FFF
}

#portfolio {
	text-align: center;
	padding-top: 135px;
	background-color: #FFF;
}

#portfolio p {
	margin:10px;
	color:#737373;
}

#portfolio ul{
	width:700px;
	margin-left: auto;
	margin-right: auto;
}

#portfolio ul li{
	list-style:none; display: inline;
}

#portfolio ul li img{
	width:100px;
	height:100px;
	margin:8px;
	border-radius: 30px 30px 30px 30px; -moz-border-radius: 30px 30px 30px 30px; -webkit-border-radius: 30px 30px 30px 30px;
}

#contato{
	text-align: center;
	padding-top:180px;
	padding-bottom:80px;
	background-color: #FFF;
}

#contactme p {
	margin:5px;
	color:#414042;
}

#contactme p:first-child {
  margin-bottom: 20px;
}

#contactme ul{
	background-color: #FFF;
  margin-top: 20px;
}

#contactme ul li {
	margin:5px; list-style: none; display: inline;
}

#contactme ul li img {
	width: 30px;
	height:30px;
	padding-top: 10px;
}

/* Divs Rodapé */

#rodape{
	text-align: center;
	height:60px;
	background-color: #dcddde;
}

#copy{
	padding-left:10px;
	padding-top: 10px;
}

#copy p {
  font-size: 0.85em;
	color:#000;
}


/* Typography */
a {
	text-decoration: none;
}

#imageData #caption {
	font-weight: normal;
}
