<center>
    <div id="lateral">
        <div id="guias">
            <center>
                <img src="/images/avatar.jpg"/>
            </center>

            <p>
                Bruna Teles, 25 anos, Designer
                Gráfica, reside em São José - SC.
            </p>

            </br>

            <center>
                <h2>MARCADORES</h2>

                <p>Ilustrações / freelance/ marcas / livros/ resenhas.</p> </br>

                <h2>ARQUIVOS</h2>

                <p> Janeiro/ Fevereiro/ Março / Abril/ Maio.</p>
            </center>
        </div>
    </div>
</center>
