<center>
    <div id="lateral">
        <div id="guias">
            <center>
                <img src="/images/avatar.jpg"/>
            </center>

            <p>
                Bruna Teles, acadêmica do curso 
                de Design Gráfico, tem 25 anos e 
                reside em São José - SC.
            </p>

            </br>

            <center>
                <h2>MARCADORES</h2>

                <p>{{ site | tag_cloud }}</p>
            </center>
        </div>
    </div>
</center>
