<!DOCTYPE HTML>

<html>

<head>

<meta charset="utf-8" />

<title>{{ page.title }} - Bruna Teles - Design Gráfico</title>

<link type="text/css" rel="stylesheet" href="/css/master.css" />
<link rel="stylesheet" href="/css/lightbox.css" type="text/css" media="screen" />

</head>

<body>

<!-- inicio selector-->

  <div id="selector">
    <div id="fita">
      <!-- inicio identidade-->
      <div id="identidade">
          <a href="/"><img src="/images/brunalogo_banner.png" /></a>
      </div>
          <!-- fim identidade-->
       <!-- inicio menu-->
      <div id="menu">
          <ul>
              <li><a href="/index.html#home">Home</a></li>
              <li><a href="/index.html#sobre">Sobre</a></li>
              <li><a href="/index.html#portfolio">Portfólio</a></li>
              <li><a href="/index.html#contato">Contato</a></li>
              <li><a href="/blog/index.html">Blog</a></li>
          </ul>
      </div>
      <!-- fim menu-->
    </div>
  </div>

  <!-- fim selector-->

<!-- inicio geral-->
<div id="geral">
    <div id="conteudo">
      {{ content }}
    </div>
    <!-- fim conteudo -->
</div>
<!-- fim geral -->


          <!--inicio rodapé-->
          <div id="rodape">

          <center>

                 <div id="copy">


                 <p> &copy; 2014 - Layout e conteúdo exclusivo de brunateles.com.br - Todos os direiros reservados.</p>


                 </div>

              </center>

          </div>
          <!--final rodapé-->

<script type="text/javascript" src="/javascript/prototype.js"></script>
<script type="text/javascript" src="/javascript/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="/javascript/lightbox.js"></script>
<script type="text/javascript" src="/javascript/smooth_scrolling.js"></script>

</body>

</html>
